{% extends 'base.html' %}
{% from '_formhelper.html' import render_field, render_submit %}

{% block content %}
<div class="container">
<form action="{{ url_for('.change_password') }}" class="form-signup form-horizontal" method="POST">
    {{ form.hidden_tag() }}
    {{ render_field(form.current_password, class='input-block-level') }}
    {{ render_field(form.new_password, class='input-block-level') }}
    {{ render_field(form.new_passsword_confirm, class='input-block-level') }}
    {{ render_submit('Update Password') }}
    <hr />
    <div>
        <p>Forget your password?<a href="{{ url_for('account.send_resetmail') }}">Reset your password via email</a></p>
    </div>
</form>
</div>
{% endblock %}
