body {
    position: relative;
    padding-top: 40px;
    background: #F9F9F9;
}

.container {
    padding-top: 10px;
    padding-bottom: 20px;
}

textarea {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.form-setting input,
.form-signin input,
.form-signup input {
    height: 40px;
    font-size: 16px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    margin: 10px 0;
}

.form-setting button,
.form-signin button,
.form-signup button {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.user-descrption {
    max-height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
}

ul.top-listings {
    margin: 0px;
}
ul.top-listings > li {
    margin-left: 0px;
    margin-bottom: 0px;
}
.listing-count {
    color: green;
}
.listing-actions > a {
    margin: 0 50px;
    background: #0370EA;
    background: -moz-linear-gradient(top,#008DFD 0,#0370EA 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0,#008DFD),color-stop(100%,#0370EA));
    background: -webkit-linear-gradient(top,#008DFD 0,#0370EA 100%);
    background: -o-linear-gradient(top,#008DFD 0,#0370EA 100%);
    background: -ms-linear-gradient(top,#008DFD 0,#0370EA 100%);
    background: linear-gradient(top,#008DFD 0,#0370EA 100%);
}

.profile-media-con img {
    width: 50px;
}

#timeline {
    position: relative;
    padding: 10px 0;
    font-size: 12px;
}

.form-signup,
.form-setting,
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: white;
    border: 1px solid #E5E5E5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

/**
 * Grid container
 */
#tiles {
    list-style-type: none;
    position: relative; /** Needed to ensure items are laid out relative to this container **/
    margin: 0;
}

/**
 * Grid items
 */
#tiles>li {
    width: 238px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: none; /** Hide items initially to avoid a flicker effect **/
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

a.timeline-photos {
    display: block;
}
.timeline-photos >img {
    width: 100%;
}

/**
 * listing property
 */
.covershot {
    width: 100%;
}
.listing-title {
    margin: 5px 5px 5px 10px;
}

.listing-title a:link, 
.listing-title a:hover {
    color: #00A48B;
}

.listing-title a:visited {
    color: #006455;
    text-decoration: none;
}

.new-comment-con,
.profile-con {
    background-color: #f2f0f0;
    padding: 5px;
    overflow: hidden;
    border-bottom: 1px solid #d9d4d4;
}

profile-image-con,
.profile-image-link {
    float: left;
}

.user-info, .comment-body, .listing-info {
    margin: 0px 0px 0px 55px;
    line-height: 1em;
}

.comment-body form {
    margin: 0px;
}

.liked {
    color: #eaeaea;
}

a.liked:hover {
    color: #eaeaea;
}

.main-con {
    width: 852px;
    margin: 0 auto;
}

.left-col {
    position: fixed;
    top: 60px;
    left: 50%;
    width: 222px;
    margin-left: -425px;
    background-color: #fff;
}

.right-col {
    float: right;
    width: 614px;
    margin-top: 20px;
}

.wrapper {
    background-color: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.listing-title-wrapper {
    border-bottom: 1px solid #D1CDCD;
    padding: 19px;
}

.listing-action-con {
    padding: 20px 30px 10px;
    overflow: hidden;
}

.listing-action-con li{
    display: inline;
}

.listing-action-con li a {
    float: left;
    margin-right: 6px;
}

.listing-image-con {
    position: relative;
    margin: 20px 30px;
    background-color: #F2F0F0;
    overflow: hidden;
}

.listing-image-con img {
    display: block;
    max-width: 554px;
    width: 100%;
}

.listing-caption-con {
    padding: 0 30px 20px;
    font-size: 13px;
    line-height: 1.5em;
    word-wrap: break-word;
    border-bottom: 1px solid #D1CDCD;
}

.listing-addcomment-con {
    border-bottom: 1px solid #D1CDCD;
}

#listing-comment-con .comment {
    clear: both;
    padding: 5px 30px;
    overflow: hidden;
    border-bottom: 1px solid #D1CDCD;
}

#addcomment-con {
    clear: both;
    padding: 5px 30px;
    overflow: hidden;
}
#comment-area {
    width: 100%;
}

.closet-listings {
    position: static;
    margin: 0 0 15px;
    float: left;
    width: 222px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
}

.profile-widget {
    padding: 5px;
}

.invite-fixed-container,
.publish-fixed-container,
.login-fixed-container,
.profile-fixed-container {
    width: 934px;
    margin: 10px auto;
}

.profile-info {
    height: 165px;
    width: 698px;
    position: relative;
    background: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.5);
    -moz-box-shadow: 0 1px 3px rgba(34,25,25,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.5);
}

.profile-info .profile-image-link {
    height: 165px;
    float: left;
    max-width: 165px;
    overflow: hidden;
}

.profile-info .profile-image-link img {
    width: 165px;
}
.profile-image-link img {
    width: 50px;
}

.profile-content {
    margin: 0px 0px 0px 180px;
    padding: 5px 0px 0px 15px;
}

.original-price {
    text-decoration: line-through;
}

.current-price {
    color: green;
}

.user-widget {
    border: 1px solid #D1CDCD;
    word-wrap: break-word;
}

.top-con {
    position: relative;
    margin: 15px;
}

.followed-following-list{
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34,25,25,0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    background-color: #fff;
}

.followed-following-list h4.title{
    border-top: 1px solid #D1CDCD;
    padding 10px;
}

.followed-following-list .item {
    border-top: 1px solid #DCDEE0;
    padding: 10px;
    position: relative;
    min-height: 50px;
}

.image-con {
    display: block;
    padding: 10px;
}
