<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <div class="navbar-collapse top-menu">
                <ul id="menu-top" class="nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('trade.trade') }}">Trade</a></li>
                    {% if g.user %}
                    <li><a href="{{ url_for('account.signout') }}">Logout</a></li>
                    {% else %}
                    <li><a href="{{ url_for('account.signin') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
