<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>{% block title %}Bitcoin Market{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<!-- Le styles -->
<link href="{{ url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/clover.css') }}" />
<style>
{% block style %}
{% endblock %}
</style>
</head>
<body>
    {% include "_nav.html" %}
    {% block content %}{% endblock %}
<!-- Le javascript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.timeago.js') }}"></script>

{% block script %}
{% endblock %}
</body>
</html>
