{% extends 'base.html' %}
{% from '_formhelper.html' import render_field %}

{% block content %}
<div class="container">
    <div class="row auction">
        <div class="span8">
            <div id="char_div">
            </div>

            {% if g.user %}
            <hr />
            <div class="row actions">
                <div class="span4 ">
                    <h5>Buy Bitcoin</h5>
                    <div class="order-header">
                        <div class="row">
                            <div class="span2">
                                <p>Your Balance</p>
                                <p>0 USD</p>
                            </div>
                            <div class="span2">
                                <p>Lowest Ask Price</p>
                                <p>51.2 USD</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span4">
                    <h5>Sell Bitcoin</h5>
                    <div class="order-header">
                        <div class="row">
                            <div class="span2">
                                <p>Your Balance</p>
                                <p>0 BTC</p>
                            </div>
                            <div class="span2">
                                <p>Lowest Bid Price</p>
                                <p>51.09 USD</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="orders" class="row">
                <div class="span8">
                    <h5>Your current active orders</h5>
                    <table class="table table-hover table-condensed">
                        <thread>
                        <tr>
                            <th>Type</th>
                            <th>BTC Amount</th>
                            <th>Price</th>
                            <th>Total CNY</th>
                            <th>Date</th>
                        </tr>
                        </thread>
                        <tbody>
                        {% for order in user_orders %}
                        <tr>
                            <td>{{ order['type'] }}</td>
                            <td>{{ order['amount'] }}</td>
                            <td>{{ order['price'] }}</td>
                            <td>{{ order['amount']*order['price'] }}</td>
                            <td>{{ order['created_at']}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
            
            <div class="row">
                <div class="span4">
                    <h5>Sell Orders</h5>
                    <table class="table table-hover table-condensed">
                        <thread>
                        <tr>
                            <th>Price</th>
                            <th>BTC</th>
                            <th>CNY</th>
                        </tr>
                        </thread>
                        <tbody>
                        {% for ask in asks %}
                        <tr>
                            <td>{{ ask['price']}}</td>
                            <td>{{ ask['amount']}}</td>
                            <td>{{ ask['price']*ask['amount'] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="span4">
                    <h5>Buy Orders</h5>
                    <table class="table table-hover table-condensed">
                        <thread>
                        <tr>
                            <th>Price</th>
                            <th>BTC</th>
                            <th>CNY</th>
                        </tr>
                        </thread>
                        <tbody>
                        {% for bid in bids %}
                        <tr>
                            <td>{{ bid['price']}}</td>
                            <td>{{ bid['amount']}}</td>
                            <td>{{ bid['price']*bid['amount']}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div id="market-history" class="span8">
                    <h5>Market Trade History</h5>
                    <table class="table table-hover table-condensed">
                        <thread>
                        <tr>
                            <th>Type</th>
                            <th>BTC Amount</th>
                            <th>Price</th>
                            <th>Total CNY</th>
                            <th>Date</th>
                        </tr>
                        </thread>
                        <tbody>
                        {% for t in transactions %}
                        <tr>
                            <td>{{ t['type'] }}</td>
                            <td>{{ t['amount'] }}</td>
                            <td>{{ t['price'] }}</td>
                            <td>{{ t['price']*bid['amount'] }}</td>
                            <td>{{ t['created_at'] }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div> <!-- span8 -->
    </div> <!-- row auction -->
</div> <!-- container-->
{% endblock %}
